<%- include("partials/header"); -%>

      <div class="container" style="margin-top:20px">
        <h2>About</h2>
        <p>Some content ... </p>
   
      </div>

      <%- include("partials/footer"); -%>
