<%- include("partials/header"); -%>
      

      <div class="container" style="margin-top:20px">
        <h1><%= title %> </h1>
        <p><%= content %> </p>
   
      </div>

      <%- include("partials/footer"); -%>

